{% extends 'base.html.twig' %}

{% block title %}LA KAVASEB | {% if film.surTitreFrancais %}{{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}{% endblock %}

{% block body %}

    <h1>{% if film.surTitreFrancais %}{{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre original</th>
                <td>{% if film.surTitreOriginal %}{{ film.surTitreOriginal|upper }} – {% endif %}{{ film.titreOriginal|upper }}{% if film.sousTitreOriginal %} : {{ film.sousTitreOriginal }}{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/' ~ film.image) }}" alt=""></td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ film.annee ? film.annee|date('Y') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ film.duree }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <th>Chronologie</th>
                <td>{{ film.chronologie }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ film.format }}</td>
            </tr>
            <tr>
                <th>Note Film</th>
                <td>{{ film.noteFilm }}</td>
            </tr>
            <tr>
                <th>Note Image</th>
                <td>{{ film.noteImage }}</td>
            </tr>
            {% if film.description %}
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            {% endif %}
            {% if film.avis %}
            <tr>
                <th>Avis</th>
                <td>{{ film.avis }}</td>
            </tr>
            {% endif %}
            {% if film.art %}
            <tr>
                <th>Art</th>
                <td>{{ film.art }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('film_liste_index') }}">Retour à la liste</a>

{% endblock %}