{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>Film</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>TitreFrancais</th>
                <td>{{ film.titreFrancais }}</td>
            </tr>
            <tr>
                <th>SurTitreFrancais</th>
                <td>{{ film.surTitreFrancais }}</td>
            </tr>
            <tr>
                <th>SousTitreFrancais</th>
                <td>{{ film.sousTitreFrancais }}</td>
            </tr>
            <tr>
                <th>TitreOriginal</th>
                <td>{{ film.titreOriginal }}</td>
            </tr>
            <tr>
                <th>SurTitreOriginal</th>
                <td>{{ film.surTitreOriginal }}</td>
            </tr>
            <tr>
                <th>SousTitreOriginal</th>
                <td>{{ film.sousTitreOriginal }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/' ~ film.image) }}" alt=""></td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ film.annee ? film.annee|date('Y') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ film.duree }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <th>Chronologie</th>
                <td>{{ film.chronologie }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ film.format }}</td>
            </tr>
            <tr>
                <th>NoteFilm</th>
                <td>{{ film.noteFilm }}</td>
            </tr>
            <tr>
                <th>NoteImage</th>
                <td>{{ film.noteImage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ film.avis }}</td>
            </tr>
            <tr>
                <th>Art</th>
                <td>{{ film.art }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('film_liste_index') }}">back to list</a>

{% endblock %}