{% extends 'base.html.twig' %}

{% block title %}Scenariste{% endblock %}

{% block body %}
    <h1>Scenariste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scenariste.id }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ scenariste.profession }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ scenariste.importance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_scenariste_index') }}">back to list</a>

    <a href="{{ path('admin_scenariste_edit', {'id': scenariste.id}) }}">edit</a>

    {{ include('admin_scenariste/_delete_form.html.twig') }}
{% endblock %}
