{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | Liste des personnalités{% endblock %}

{% block body %}

    <h1><b>ADMINISTRATION | </b>Liste des personnalités</h1>

    <a href="{{ path('admin_personnalite_new') }}">Ajouter une nouvelle personnalité</a>

    <table class="table">
        <thead>
            <tr>
                <th>N° de fiche</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Nationalité</th>
                <th>Naissance</th>
                <th>Décès</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnalite in personnalites %}
            <tr>
                <td>{{ personnalite.id }}</td>
                <td>{{ personnalite.nom }}</td>
                <td>{{ personnalite.prenom }}</td>
                <td>{{ personnalite.sexe }}</td>
                <td>{{ personnalite.nationalite }}</td>
                <td>{{ personnalite.naissance ? personnalite.naissance|date('Y-m-d') : '' }}</td>
                <td>{{ personnalite.deces ? personnalite.deces|date('Y-m-d') : '' }}</td>
                <td>{{ personnalite.photo }}</td>
                <td>
                    <p><a href="{{ path('admin_personnalite_show', {'id': personnalite.id}) }}">Afficher</a> | <a href="{{ path('admin_personnalite_edit', {'id': personnalite.id}) }}">Modifier</a></p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}