{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <h1>Acteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acteur.id }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ acteur.profession }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ acteur.importance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_acteur_index') }}">back to list</a>

    <a href="{{ path('admin_acteur_edit', {'id': acteur.id}) }}">edit</a>

    {{ include('admin_acteur/_delete_form.html.twig') }}
{% endblock %}
