{% extends 'base.html.twig' %}

{% block title %}StudioDev index{% endblock %}

{% block body %}
    <h1>StudioDev index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Importance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for studio_dev in studio_devs %}
            <tr>
                <td>{{ studio_dev.id }}</td>
                <td>{{ studio_dev.nom }}</td>
                <td>{{ studio_dev.importance }}</td>
                <td>
                    <a href="{{ path('admin_studio_dev_show', {'id': studio_dev.id}) }}">show</a>
                    <a href="{{ path('admin_studio_dev_edit', {'id': studio_dev.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_studio_dev_new') }}">Create new</a>
{% endblock %}
