{% extends 'base.html.twig' %}

{% block title %}Producteur index{% endblock %}

{% block body %}
    <h1>Producteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profession</th>
                <th>Importance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producteur in producteurs %}
            <tr>
                <td>{{ producteur.id }}</td>
                <td>{{ producteur.profession }}</td>
                <td>{{ producteur.importance }}</td>
                <td>
                    <a href="{{ path('admin_producteur_show', {'id': producteur.id}) }}">show</a>
                    <a href="{{ path('admin_producteur_edit', {'id': producteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_producteur_new') }}">Create new</a>
{% endblock %}
