{% extends 'base.html.twig' %}

{% block title %}Producteur{% endblock %}

{% block body %}
    <h1>Producteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producteur.id }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ producteur.profession }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ producteur.importance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_producteur_index') }}">back to list</a>

    <a href="{{ path('admin_producteur_edit', {'id': producteur.id}) }}">edit</a>

    {{ include('admin_producteur/_delete_form.html.twig') }}
{% endblock %}
