{% extends 'base.html.twig' %}

{% block title %}Doubleur index{% endblock %}

{% block body %}
    <h1>Doubleur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profession</th>
                <th>Importance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doubleur in doubleurs %}
            <tr>
                <td>{{ doubleur.id }}</td>
                <td>{{ doubleur.profession }}</td>
                <td>{{ doubleur.importance }}</td>
                <td>
                    <a href="{{ path('admin_doubleur_show', {'id': doubleur.id}) }}">show</a>
                    <a href="{{ path('admin_doubleur_edit', {'id': doubleur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_doubleur_new') }}">Create new</a>
{% endblock %}
