{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | Liste des films{% endblock %}

{% block body %}
    <h1><b>ADMINISTRATION | </b>Liste des films</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° de fiche</th>
                <th>Titre</th>
                <th>Année</th>
                <th>Durée</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{% if film.surTitreFrancais %} {{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}</td>
                <td>{{ film.annee ? film.annee|date('Y') : '' }}</td>
                <td>{{ film.duree }}</td>
                <td>{{ film.genre }}</td>
                <td>
                    <p><a href="{{ path('admin_film_show', {'id': film.id}) }}">Afficher</a> | <a href="{{ path('admin_film_edit', {'id': film.id}) }}">Modifier</a></p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_film_new') }}">Ajouter un nouveau film</a>

{% endblock %}