{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | {% if film.surTitreFrancais %} {{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}{% endblock %}

{% block body %}
    <h1><b>ADMINISTRATION | </b>{% if film.surTitreFrancais %} {{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}</h1>

    <a href="{{ path('admin_film_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_film_edit', {'id': film.id}) }}">Modifier</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre français</th>
                <td>{% if film.surTitreFrancais %} {{ film.surTitreFrancais|upper }} – {% endif %}{{ film.titreFrancais|upper }}{% if film.sousTitreFrancais %} : {{ film.sousTitreFrancais }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre original</th>
                <td>{% if film.surTitreOriginal %} {{ film.surTitreOriginal|upper }} – {% endif %}{{ film.titreOriginal|upper }}{% if film.sousTitreOriginal %} : {{ film.sousTitreOriginal }}{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/' ~ film.image) }}" alt=""></td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ film.annee ? film.annee|date('Y') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ film.duree }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <th>Chronologie</th>
                <td>{{ film.chronologie }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ film.format }}</td>
            </tr>
            <tr>
                <th>Note Film</th>
                <td>{{ film.noteFilm }}</td>
            </tr>
            <tr>
                <th>Note Image</th>
                <td>{{ film.noteImage }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ film.avis }}</td>
            </tr>
            <tr>
                <th>Art</th>
                <td>{{ film.art }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('admin_film/_delete_form.html.twig') }}

{% endblock %}