<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">La Kavaseb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
        </li>
        {# Espace Utilisateur : Quand l'utilisateur n'est pas connecté #}
        {% if is_granted('ROLE_USER') == false %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('register') }}">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('login') }}">Connexion</a>
        </li>
        {% endif %}
        {# Espace Utilisateur : Quand l'utilisateur est pas connecté #}
        {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('profil_show') }}">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('logout') }}">Déconnexion</a>
        </li>
        {% endif %}
        {# Espace Administrateur #}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('admin_personnalite_index') }}">Personnalité</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_personnalite_profession_index') }}">Profession</a></li>
            {# <li><a class="dropdown-item" href="{{ path('admin_livre_index') }}">Bibliothèque : Livre</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_livre_editeur_francais_index') }}">Bibliothèque : Éditeur français</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_livre_editeur_original_index') }}">Bibliothèque : Éditeur original</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_livre_genre_index') }}">Bibliothèque : Genre</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_livre_annee_index') }}">Bibliothèque : Année</a></li> #}
            {# <li><a class="dropdown-item" href="{{ path('admin_film_index') }}">Cinémathèque : Film</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_film_genre_index') }}">Cinémathèque : Genre</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_film_annee_index') }}">Cinémathèque : Année</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_album_index') }}">Discothèque : Album</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_piste_musique_index') }}">Discothèque : Piste</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_genre_musique_index') }}">Discothèque : Genre</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_label_musique_index') }}">Discothèque : Label</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_jeu_index') }}">Ludothèque : Jeu</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_genre_jeu_index') }}">Ludothèque : Genre</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_studio_jeu_index') }}">Ludothèque : Développeur</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_studio_fonction_index') }}">Ludothèque : Éditeur</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_systeme_jeu_index') }}">Ludothèque : Système</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('admin_utilisateur_index') }}">Utilisateur</a></li> #}
          </ul>
        </li>
        {% endif %}
      </ul>
      {# Bouton de recherche #}
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Entrez un mot-clé..." aria-label="Search">
	    <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>
    </div>
  </div>
</nav>