{% extends 'base.html.twig' %}

{% block title %}StudioEdit{% endblock %}

{% block body %}
    <h1>StudioEdit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ studio_edit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ studio_edit.nom }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ studio_edit.importance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_studio_edit_index') }}">back to list</a>

    <a href="{{ path('admin_studio_edit_edit', {'id': studio_edit.id}) }}">edit</a>

    {{ include('admin_studio_edit/_delete_form.html.twig') }}
{% endblock %}
