{% extends 'base.html.twig' %}

{% block title %}ADMINISTRATION | Liste des auteurs{% endblock %}

{% block body %}
    <h1><b>ADMINISTRATION | </b>Liste des auteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profession</th>
                <th>Importance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr>
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.profession }}</td>
                <td>{{ auteur.importance }}</td>
                <td>
                    <p><a href="{{ path('admin_auteur_show', {'id': auteur.id}) }}">Afficher</a> | <a href="{{ path('admin_auteur_edit', {'id': auteur.id}) }}">Modifier</a></p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_auteur_new') }}">Ajouter une nouvelle entrée</a>

{% endblock %}